# ==========================================
# PYTHON (Backend)
# ==========================================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
*.log

# ==========================================
# NODE.JS (Frontend)
# ==========================================
node_modules/
dist/
build/
.DS_Store

# ==========================================
# EDITORES DE CÓDIGO
# ==========================================
.vscode/
.idea/
*.swp
*.swo

# ==========================================
# ARCHIVOS DEL SISTEMA
# ==========================================
Thumbs.db
.bkp