TELEGRAM_BOT_TOKEN=x:y
TELEGRAM_CHAT_ID=z
TELEGRAM_GROUP_ID=-xxx
BOT_ACTIVO=true
MENSAJE_EXITO=<b>Nuevo Diagnóstico: Doctor Byte</b>\n<b>Falla Detectada:</b> {falla}\n<b>Recomendación:</b> {recomendacion}\n<b>Síntomas:</b> {sintomas}
MENSAJE_FALLO=<b>Diagnóstico Fallido</b>\nNo se pudo determinar una falla exacta.\n<b>Síntomas:</b> {sintomas}
